<h1>お問い合わせ</h1>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @contact,local:true) do |form| %>
  <table>
    <div class="contact_name">
      <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
      </tr>
    </div>
    <div class="contact_email">
      <tr>
        <th><%= form.label :email %></th>
        <td><%= form.text_field :email %></td>
      </tr>
    </div>
    <div class="contant_content">
      <tr>
        <th><%= form.label :content %></th>
        <td><%= form.text_area :content,size:"30x10" %><td/>
      </tr>
    </div>
  </table>
  <%= form.submit %>
<% end %>
